@import-normalize;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply w-[400px] flex items-center justify-center cursor-pointer rounded-[10px] py-[17px] px-[55px] text-white uppercase;
  }

  .flex-center {
    @apply flex items-center justify-center flex-col;
  }

  .matchup-text-container {
    @apply w-[200px] whitespace-nowrap;
  }
}

@keyframes leftright {
  0% {
    transform: translateX(0%);
    left: 0%;
  }

  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

.slide-out {
  animation: leftright 5s infinite alternate ease-in-out;
}
